body{
    background-color: black;
    color: white;
}
.grid{
    width: 200px;
    background-color: yellow;
    height: 400px;
    display: flex;
    flex-wrap: wrap;
}
.grid div{
    height: 20px;
    background-color: red;
    width: 20px;
}